* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden;
  height: 2000px;
}

.main-container {
  display: grid;
  position: absolute;
  grid-template-rows: 35px 57px 620px 1fr 1fr 1fr;
  /* top navigation  slider top-rated-row  banners featured-products*/
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  z-index: 5;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
