.product-card {
  display: grid;
  position: relative;
  margin: 100px auto;
  width: 200px;
  height: 350px;
  background-color: rgb(0, 0, 0);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 195px 60px repeat(1, 1fr) 0;
  transition: 0.7s ease;
  border-radius: 10px;
  border: 1px solid gray;
  color: white;
  overflow: hidden;
}

.static-title {
  align-self: center;
  font-size: 10px;
  color: rgb(202, 197, 197);
  padding: 5px 13px;
}

.product-card-title {
  font-size: 13px;
  font-weight: bold;
  padding: 0 10px;
  padding-right: 30px;
}

.product-card-img {
  background-position: center;
  background-size: 90%;
  background-image: url(imgs/download.png);
  transition: 0.3s;
}

.product-card-img:hover {
  scale: 1.04;
}

.product-card-price {
  align-self: center;
  font-size: 20px;
  padding: 3px 10px;
}

.product-icon {
  position: absolute;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-size: cover;
  background-position: center;
}

.heart-icon {
  top: 13px;
  right: 13px;
  background-image: url(imgs/icons8-loading-heart-30.png);
}

.basket-icon {
  bottom: 10px;
  right: 14px;
  background-image: url(imgs/icons8-shopping-cart-30.png);
}

/* product  hover */

.product-card:hover {
  grid-template-rows: 1fr 195px 60px repeat(1, 1fr) 45px;
}

.add-product {
  background-color: rgb(56, 106, 212);
  width: 100%;
  height: 70px;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 32px;
  padding: 0 10px;
  cursor: pointer;
}
