.product-card {
  display: grid;
  margin: 100px auto;
  width: 200px;
  height: 300px;
  background-color: aqua;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 0;
  transition: 0.4s;
}
