.slider-section {
  position: relative;
  grid-row: 3/4;
  grid-column: 1/-1;
  top: -100px;
  height: 1100px;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-image: url(imgs/wallpaperflare.com_wallpaper_15.jpg); */
  background-color: black;
  overflow-x: hidden;
}

.slider-section .btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 12px 20px;
  background-position: center;
  background-size: cover;
  color: white;
  z-index: 99;
}

.nxt {
  right: 0;
}

.pre {
}

.transition {
  opacity: 0;
  /* transform: translateY(10px); */
}

.animated {
  animation: fallDown 0.6s;
}

@keyframes fallDown {
  from {
    opacity: 0;
    transform: translateY(-120px) translate(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translate(-50%);
  }
}

.slider {
  position: absolute;
  /* height: 450px;
  width: 450px; */
  height: 600px;
  width: 650px;
  top: 24%;
  right: 150px;
  background-size: cover;
  background-position: center;
  transition: 0.4s;
}

.slider-product-name-container {
  position: absolute;
  height: 200px;
  width: 300px;
  top: 41%;
  transform: translate(-50%);
  left: 320px;
  color: white;
  transition: 0.4s;
}

.slider-product-name-container .name {
  font-size: 48px;
  line-height: 50px;
}

.slider-product-name-container .code {
  color: gray;
  font-size: 13px;
  padding-top: 10px;
}

.slider-product-name-container button {
  background: rgb(27, 100, 146);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 10px;
  padding: 15px 40px;
  cursor: pointer;
  margin-top: 10px;
}

@media screen and (max-width: 1444px) {
  .slider-section {
    height: 700px;
  }

  .slider {
    height: 450px;
    width: 450px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 790px;
  }
  .slider {
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%);
  }

  .slider-product-name-container {
    top: 70%;
    left: 180px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }

  .slider-product-name-container .name {
    font-size: 28px;
  }

  .slider-product-name-container button {
    margin-top: 10px;
  }
}

/* slides preview */
.slides {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(6, 220px);
  grid-template-rows: 1fr;
  width: 100%;
  height: 65px;
  padding-left: 50px;
  bottom: 0;
  z-index: 9;
  overflow-x: scroll;
  cursor: pointer;
}

.slide {
  position: relative;
  color: white;
  align-self: center;
  font-size: 12px;
}

.slide p {
  padding-left: 40px;
  line-height: 26px;
  transition: 0.4s;
  transition: 0.4s;
}

.slide p:hover {
  color: rgb(27, 100, 146);
}

.slide-active {
  color: rgb(27, 100, 146);
}

.slide-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}

.slides::-webkit-scrollbar {
  width: 20px;
  height: 7px;
  border: none;
}

.slides::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.slides::-webkit-scrollbar-thumb {
  background-color: rgb(25, 55, 153);
}

@media screen and (max-width: 590px) {
  .slider-section .btn {
    display: none;
  }

  .slides {
    width: 100%;
    padding: 0 10px;
    grid-template-columns: repeat(6, 190px);
  }
}
