.container {
  display: grid;
  grid-gap: 3px;
  width: 200px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 50px);
  background-color: red;
}

.container2 {
  display: grid;
  grid-gap: 3px;
  width: 200px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 50px);
  background-color: rgb(161, 76, 76);
}

.box {
  background-color: yellowgreen;
}

.baner {
  background-color: blue;
  grid-column: 1/-1;
}
