.top-rated-products {
  position: relative;
  display: grid;
  height: 600px;
  grid-gap: 0 50px;
  padding: 20px;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 360px;
  grid-row: 4/5;
  grid-column: 1/-1;
  z-index: 9;
  transition: 0.4s;
}

.top-rated-title {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 30px;
  color: white;
  font-size: 25px;
}

@media screen and (max-width: 1357px) {
  .top-rated-products {
    grid-template-columns: repeat(5, 200px);
  }
}

@media screen and (max-width: 1237px) {
  .top-rated-products {
    grid-template-columns: repeat(3, 200px);
    height: 920px;
    grid-gap: 0 20px;
  }
}

@media screen and (max-width: 674px) {
  .top-rated-products {
    grid-template-columns: repeat(2, 200px);
    height: 1250px;
  }
}

@media screen and (max-width: 466px) {
  .top-rated-products {
    grid-template-columns: repeat(1, 200px);
    height: 1950px;
  }

  .top-rated-title {
    font-size: 18px;
  }
}

/* BANNERS */
.top-rated-banners {
  grid-row: 5/6;
  grid-column: 1/-1;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 720px);
  grid-template-rows: 390px;
  grid-gap: 0 35px;
  padding: 0 12px;
  padding-top: 60px;
  background-color: blue;
}

.top-rate-banner {
  background-color: aqua;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.top-rate-banner:nth-child(1) {
  /* background-image: url(/imgs/wallpaperflare.com_wallpaper_15.jpg); */
}
.top-rate-banner:nth-child(2) {
  /* background-image: url(/imgs/wallpaperflare.com_wallpaper_15.jpg); */
}
