* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden;
  zoom: 90%;
}

.main-container {
  display: grid;
  position: absolute;
  grid-template-rows: 35px 57px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* top navigation  slider top-rated-row  banners featured-products big-banner trend-products */
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  z-index: 5;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.user-basket {
  position: fixed;
  width: 200px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-auto-rows: 150px;
  z-index: 99;
}

.illustration {
  position: absolute;
  z-index: -1;
  height: 200px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.3;
}

.recently-illustration {
  left: auto;
  transform: translate(0%); 
  right: 0;
}

.loading {
  position: fixed;
  display: flex;;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 999;
}

.loading .loading-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 4px solid gray;
}

.loading .loading-circle::after {
  content: " ";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 4px solid rgb(0, 47, 255);
  animation: 1s scale infinite;
}

@keyframes scale {
  50% {
    padding: 20px;
  }
  100% {
    padding: 0px;
  }
}

.invisible {
  display: none;
}

.success-notfi {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 5rem;
  width: 50%;
  height: 3rem;
  left: 50%;
  border-radius: 10px;
  z-index: 99;
  background: rgb(89, 0, 255);
  color: white;
  transition: 0.4s ease;
  transform: translate(-50%);
}

.active {
  display: flex;
}

@media screen and (max-width: 430px) {
    .success-notfi {
      width: 90%;
    }
}