/* location */

.location-container {
  position: relative;
  grid-row: 3/4;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 50px) 70px 55px;
  padding: 10px 250px;
  z-index: 99;
  color: white;
}

.location-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: gray;
}

.location-container > li {
  position: relative;
  list-style-type: none;
  font-size: 10px;
  align-self: center;
  text-align: center;
  cursor: pointer;
}

.location-container > li:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
  width: 2px;
  background-color: rgb(60, 60, 63);
  left: 0%;
}

.location-container > li:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
  width: 2px;
  background-color: rgb(60, 60, 63);
  right: 0%;
}

.location-container > li:nth-child(3) {
  padding: 0 10px;
}

/* product  */

.product-info-section {
  grid-row: 4/5;
  grid-column: 1/-1;
  position: relative;
  top: 80px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 0 50px;
}

.product-slider-container {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 600px 180px;
}

/* SLIDER */

.product-slider {
  background-image: url(../Imgs/products/game-headphone.png);
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  grid-row: 1/2;
  grid-column: 1/2;
  width: 700px;
  justify-self: center;
  position: relative;
  transition: 0.4s;
}

.product-slides {
  display: grid;
  grid-gap: 4px;
  padding: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.slides {
  box-shadow: 0px 4px 6px 0px rgba(50, 50, 93, 0.11),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  background-size: cover;
  background-color: #111;
  background-position: center;
  cursor: pointer;
  transition: 0.4s ease;
}

.slides:hover {
  transform: translateY(-3px);
}

/* INFORMATION */

.product-information {
  grid-column: 2/3;
  background-color: rgba(0, 0, 0, 0.361);
  display: grid;
  grid-template-rows: 100px 70px 60px 100px 70px 80px 65px 80px 1fr;
  /* title / price / rate / options / buy / icons*/
}

.info-name {
  /*  */
  color: white;
  position: relative;
  font-size: 35px;
  padding: 10px 30px;
}

.info-price {
  /*  */
  align-self: center;
  font-size: 25px;
  padding: 30px;
  color: white;
}

.info-rate-container {
  /*  */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 22px) 120px;
  grid-template-rows: 22px;
  align-content: center;
  background: #111;
  /* change icons  */
  padding: 30px;
}

.info-rate-container > .rate-stars {
  background-image: url(../Imgs/Icons/Star-Icon-by-arus-3.jpg);
  background-size: 200%;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.info-rate-container > .rate-reviews {
  font-size: 12px;
  padding-left: 10px;
  align-self: center;
  color: white;
}

.info-desc {
  /*  */
  padding-top: 20px;
  padding-right: 150px;
  padding-left: 30px;
  color: gray;
}

.info-options-container {
  /*  */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 70px repeat(3, 80px);
  grid-template-rows: 1fr;
  padding: 30px;
  color: white;
}

.info-options-container > .option-title {
  align-self: center;
}

.info-options-container > .option-sizes {
  background: #111;
  text-align: center;
  line-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.info-options-container > .option-sizes:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-5px);
}

.info-colors-container {
  /*  */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 80px repeat(3, 35px);
  grid-template-rows: 35px;
  color: white;
  padding: 30px;
}

.info-colors-container > .info-color {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.info-colors-container > .info-color:nth-child(2) {
  background-color: rgb(255, 165, 69);
}

.info-colors-container > .info-color:nth-child(3) {
  background-color: rgb(63, 59, 151);
}

.info-colors-container > .info-color:nth-child(4) {
  background-color: rgb(160, 209, 62);
}

.info-colors-container > .color-title {
  align-self: center;
}

.info-buy-container {
  /*   */
  display: grid;
  grid-gap: 20px;
  padding: 30px;
  grid-template-columns: 70px 120px;
  grid-template-rows: 55px;
}

.info-buy-container > .buy-input {
  width: 70%;
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #111;
  color: white;
  box-shadow: 0 0 4px white;
}

.info-buy-container > .buy-add {
  color: black;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 11px;
  line-height: 55px;
  text-align: start;
  padding-left: 7px;
  cursor: pointer;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.info-icons-conatiner {
  /*   */
  display: grid;
  grid-gap: 5px;
  padding: 30px;
  grid-template-columns: repeat(2, 25px);
  grid-template-rows: 25px;
  align-content: center;
}

.info-icons-conatiner > .info-icon {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.info-icons-conatiner > .info-icon:nth-child(2) {
  background-image: url(../imgs/icons/icons8-location-40.png);
}

.info-icons-conatiner > .info-icon:nth-child(1) {
  background-image: url(../imgs/icons/icons8-free-shipping-40.png);
}

.info-need-help-container {
  background: #111;
  color: white;
  padding: 10px 20px;
  position: relative;
  bottom: 10px;
  left: 10px;
  width: 300px;
  border-radius: 10px;
}

@media screen and (max-width: 1340px) {
  .product-slider {
    width: 450px;
    background-size: 95%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1120px) {
  .product-info-section {
    top: 20px;
    grid-template-rows: 800px 1fr;
    grid-template-columns: 1fr;
    height: 1800px;
    padding: 0;
  }

  .product-slider {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .product-information {
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .location-container {
    justify-content: center;
  }
}

@media screen and (max-width: 532px) {
  .product-information {
    grid-gap: 10px 20px;
  }

  .info-name {
    font-size: 20px;
  }

  .info-options-container {
    position: relative;
    top: 20px;
  }

  .product-slider {
    width: 100%;
  }

  .location-container {
    display: none;
  }

  .info-colors-container {
    grid-template-columns: 30px repeat(3, 35px);
    font-size: 14px;
    padding: 30px 10px;
  }

  .info-options-container {
    grid-template-columns: 30px repeat(3, 1fr);
    font-size: 14px;
    padding: 30px 10px;
  }

  .info-desc {
    padding: 0px 10px;
    font-size: 15px;
  }

  .info-rate-container {
    grid-template-columns: repeat(5, 22px) 1fr;
  }
}

@media screen and (max-width: 360px) {
  .info-buy-container {
    justify-content: center;
  }

  .info-buy-container > .buy-input {
    width: 70%;
  }

  .info-buy-container > .buy-add {
    padding-left: 7px;
    width: 70%;
  }
}

@media screen and (max-width: 317px) {
  .product-information {
    grid-template-rows: 120px 70px 90px 110px 100px 100px 65px 100px 180px;
  }
  .info-need-help-container {
    width: 70%;
  }
}
