.recently-product {
  display: grid;
  position: relative;
  grid-template-columns: 125px 1fr;
  grid-template-rows: 50px 1fr 40px;
  border-radius: 10px;
  border: 1px solid gray;
}

.recently-product .recently-static-title {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 13px;
  color: rgb(167, 166, 166);
  padding: 8px 30px;
}

.recently-product .recently-card-img {
  grid-row: 1/-1;
  grid-column: 1/2;
  height: 105%;
  width: 115%;
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../imgs/download.png);
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.recently-product .recently-card-img:hover {
  transform: translateY(-10px);
}

.recently-product .recently-card-title {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  padding-left: 30px;
  padding-right: 90px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: 0.4s;
}

.recently-product .recently-card-title:hover {
  color: rgb(56, 106, 212);
}

.recently-product .recently-icon {
  position: absolute;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  right: 10px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 99;
}

.heart-icon2 {
  /* icons for recently */
  top: 10px;
  background-image: url(../../Imgs/Icons/icons8-melting-heart-40.png);
}

.basket-icon2 {
  /* icons for recently */
  top: 41px;
  background-image: url(../../Imgs/Icons/icons8-search-40.png);
}

.recently-product .recently-card-price {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 1px 30px;
  font-size: 19px;
  color: white;
}

.recently-product .recently-add-shop {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 50px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background: rgba(255, 255, 255, 0);
  z-index: 5;
  background-image: url(../../Imgs/Icons/icons8-shopping-cart-40.png);
  background-size: 50%;
  background-position: center;
  background-color: rgba(38, 83, 179, 0.066);
  background-repeat: no-repeat;
  transition: 0.4s;
  cursor: pointer;
}

.recently-product .recently-add-shop:hover {
  background-color: rgb(38, 83, 179);
}

@media screen and (max-width: 354px) {
  .recently-product .recently-card-title {
    padding: 8px 15px;
  }
}

@media screen and (max-width: 273px) {
  .recently-product .recently-card-title {
    font-size: 0px;
  }

  .recently-card-price {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
