* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-slider {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 248px);
  grid-template-rows: 400px;
  width: 100%;
  padding: 12px;
  margin: 100px auto;
  background-color: yellowgreen;
  overflow-x: scroll;
}

.slide {
  background-color: red;
}

@media screen and (max-width: 269px) {
  .product-slider {
    width: 269px;
    grid-template-columns: repeat(8.1fr);
  }
}
